p {
  color: blue;
}

.example-class {
  color: green;
}

#example-id {
  color: red;
}

[title="example-attribute"] {
  color: orange;
}

section div p {
  color: purple;
}

ul > li {
  color: brown;
}

div p.combined-class#combined-id[title="example"] {
  color: darkcyan;
}

div > p {
  background-color: yellow;
}
